<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list class ="asd">  
      <a mat-list-item routerLink="/principal/pedir" routerLinkActive="active-list-item" *ngIf="verCliente">Pedir Plato</a>
      <a mat-list-item routerLink="/principal/estadoPedido" routerLinkActive="active-list-item" *ngIf="verCliente">Ver Estado Del Pedido</a>
      <a mat-list-item routerLink="/principal/mesas" *ngIf="verMozoyCliente" >Ver Mesas</a>
      <a mat-list-item routerLink="/principal/pedidos" *ngIf="verPedidos">Ver Pedidos</a>
      <a mat-list-item routerLink="/principal/administrar" *ngIf="verSupervisor">Administrar</a>
      <a mat-list-item routerLink="/principal/pagar" *ngIf="verCliente">Pagar</a>
      <!--<a mat-list-item href="./principal/turno" *ngIf="verDos">Pedir turno</a>
      <a mat-list-item href="./principal/turnos" *ngIf="verDos" >Mis turnos</a>
      <a mat-list-item href="./principal/todos-los-turnos" *ngIf="ver">Todos los turnos</a>-->
      <a mat-list-item (click)="Logout()">Cerrar sesión</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <app-inputerino [indicator]="nombreTipo" >  </app-inputerino>
     <!-- <span>Principal - {{nombre}} ({{tipo}})</span>-->
    </mat-toolbar>
    <!-- Add Content Here -->

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>


