<div class="container">

    <div class="sombreado"></div>

    <h1>Iniciar sesión</h1>

    <input type="text" placeholder="Correo Electrónico" [(ngModel)]="correo" />
    <input type="text" placeholder="Contraseña" [(ngModel)]="password" />

    <span>¿No tienes una cuenta? <a routerLink="/registro" routerLinkActive="active">Registrate</a></span>

    <button (click)="Logear()">Iniciar sesión</button>

    <button class="asd" (click)="Cliente()">Cliente</button>

    <button class="asd" (click)="Mozo()">Mozo</button>

    <button class="asd" (click)="Cocinero()">Cocinero</button>

    <button class="asd" (click)="Bartender()">Bartender</button>

    <button class="asd" (click)="Cervezero()">Cervezero</button>

    <button class="asd" (click)="Candybar()">Candybar</button>

    <button class="asd" (click)="Supervisor()">Supervisor</button>







</div>