img {
    width: 150px;
    height: auto;
}

.texto {
    width: 500px;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}

.container {
    color: white;
    background-image: url('../../../assets/error.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 1;
}